*{
    margin:0;
    padding:0;
    font-family: 'Baloo Tamma 2', cursive;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(#34395e ,#25282a);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:1150px;
    height: 400px;
    position: relative;
}
.container .card{
    background:#fff;
    width:300px;
    height:400px;
    position: relative;
    overflow:hidden;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    margin:20px;
    cursor:pointer;
    transition:0.5s;
}
body .container .card{
    filter: blur(20px);
    transform:scale(0.9);
    opacity:0.5;
}
body .container .card:hover{
    filter: blur(0px);
    transform:scale(1.1);
    opacity:1;
}
.container .card .circle{
    position: relative;
    width:100%;
    height: 100%;
    background:#E74c3c;
    clip-path: circle(180px at center 0);
    text-align:center;
}
.container .card .circle h2{
    color:#fff;
    font-size:4.5em;
    padding:30px 0;
}
.container .card .content{
    position: relative;
    bottom:210px;
    font-size:17px;
    padding:10px 20px;
    text-align:center;
}
.container .card .content a{
    background:#E74c3c;
    color:#fff;
    font-size:15px;
    text-decoration:none;
    display: inline-block;
    margin-top:15px;
    padding:10px 20px;
    border-radius:20px;
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a{
    background:#5dade2;
}
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a{
    background:#56d88d;
}
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a{
    background:#E74c3c;
}
.title{
    position: absolute;
    top: 100px;
    left: 588px;

   
    color:#fff;
}
.header-item{
   position: absolute;
  
   top: 7px;
   right: 10px;
   letter-spacing: 3px;

}
.main-item{
    font-size:100px;
    letter-spacing:6px;


}
.footer-item{
    font-size:15px;
    position: absolute;
    bottom: 2px;
    right: 9px;
    letter-spacing: 3px;
    background:rgb(68, 68, 228);
    color:#fff;
    padding:10px 20px;
    border-radius: 50px;
}